<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
		{% include "head.njk" %}
  </head>
  <body>
		<article>
		<h1>{{ title | markdownInline | safe }}</h1>
		{% if subtitle %}<p class="subtitle">{{ subtitle | markdownInline | safe }}</p>{% endif %}

		{% set nav = collections.all | eleventyNavigation %}
		<ul class="nav">
		{%- for entry in nav %}
			<li {% if entry.url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
				<a href="{{ entry.url | url }}">{{ entry.title }}</a>
  			</li>
		{%- endfor %}
		{% if not home %}
			<li class="nav-item" >
				<a href="\">Home</a>
  			</li>
		{% endif %}
		</ul>

		{{ content | safe }}

		</article>
		{% include "footer.njk" %}
  </body>
</html>
