:root {
  --light: #f6f5f5;
  --dark: #070d59;
  --dark-alt: #1f3c88;
  --highlight: #ee6f57;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

h1 {
  color: var(--highlight);
}

hr {
  border-top: 1px solid var(--dark-alt);
}

.nav {
  padding-left: 0px;
}
.nav .nav-item:first-child {
  margin-left: 0px;
}

.nav-item {
  display: inline-block;
  margin: 0.8rem;
  font-weight: 500;
}

.hover-tufte-underline:hover,
.tufte-underline,
a:link {
  background: -webkit-linear-gradient(var(--light), var(--light)), -webkit-linear-gradient(var(--light), var(--light)), -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(var(--light), var(--light)), linear-gradient(var(--light), var(--light)), linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--light), -0.03em 0 var(--light), 0 0.03em var(--light), 0 -0.03em var(--light), 0.06em 0 var(--light), -0.06em 0 var(--light), 0.09em 0 var(--light), -0.09em 0 var(--light), 0.12em 0 var(--light), -0.12em 0 var(--light), 0.15em 0 var(--light), -0.15em 0 var(--light);
  background-position: 0 93%, 100% 93%, 0 93%;
}

section > iframe {
  width: 55%;
}

@media (max-width: 760px) {
  section > iframe {
    width: 100%;
  }
}

h4 {
  font-style: italic;
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  margin-left: 0.4rem;
  line-height: 1;
}